@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #1a1919;
    overflow-x: hidden;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #9181c5;
}

/*BARRA DE NAVEGAÇÃO*/

header{
    margin-bottom: 5rem;

}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    position: fixed;
    padding: 1.56rem 10%;
    background-color: #221e1e;
    box-shadow: white;
    z-index: 500;
}

.logo {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;
    color: #7159c1;
    transition: all 0.3s ease-in-out;
}


.nav__links li{
    display: inline-block;
    padding: 0rem 1.25rem;
}

.nav__links li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out 0s;
}

.nav__links li a:hover{
    color: #f37cfa;
}

.btn {
    font-family: 'Poppins';
    font-size: .900rem;
    display: inline-block;
    color: white;
    padding: 0.56rem 1.56rem;
    background-color: #7159c1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

.btn:hover{
    background-color: #f37cfa;
}

/*BOLHAS BACKGROUND*/

#bubble_1 {
    width: 18.75rem;
    height: 18.75rem;
    position: absolute;
    left: -12%;
    top: 13%;
    border-radius: 50%;
    background: linear-gradient(45deg,#3EFE51 , #558FFF);
}

#bubble_2 {
    width: 10.6rem;
    height: 10.6rem;
    position: absolute;
    right: 34%;
    top: 8%;
    border-radius: 50%;
    background: linear-gradient(45deg,#D31027 , #EA38A3);
}

#bubble_3 {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    position: absolute;
    bottom: -20%;
    right: -5%;
    background: linear-gradient(45deg,#573589 , #f37cfa);
}


/*CARTÃO EM EFEITO GLASS*/

.credit-card{
    width: 100%;
    height: 60vh;
    margin: 0 auto 15rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    top: 8.5rem;
    
}

.info-card {
    width: 50%;
    height: 100%;
    position: relative; 
}

.info-card img {
    width: 20rem;
    height: 14rem;
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: 2rem;
}

.info-text{
    width: 75%;
    height: 50%;
    position: absolute;
    top: 3.5rem;
    right: 0;
    color: whitesmoke;
    word-break: break-word;
}

.info-text h1{
    font-family: 'lato',sans-serif;
    font-size: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 15px;
   
}

.info-text p {
    font-size: 1.1rem;
    text-align: right;
   
}

.card {
    width: 50%;
    height: 100%;
    position: relative; 
}

.front-face-card {
    animation: cardMove 1.2s ease-in-out infinite alternate;
    width: 28.12rem;
    height: 15.62rem;
    flex: 1;
    position: absolute;
    border: 1px solid white;
    bottom: 0px;
    left: 5rem;
    background: rgba( 194, 190, 216, 0.10 );
    backdrop-filter: blur(22px);
    border-radius: 15px;
    box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.2);
}

#chip {
    width: 3.75rem;
    height: 3.75rem;
    top: 75px;
    left: 25px;
    position: absolute;
}

#signal {
    width: 1.56rem;
    height: 1.56rem;
    top: 92px;
    left: 96px;
    position: absolute;
    transform: rotate(90deg);
}

#logo {
    width: 7.5rem;
    height: 4.37rem;
    bottom: 0px;
    left: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    position: absolute;
}

#flag {
    width: 3.75rem;
    height: 2.18rem;
    position: absolute;
    right: 20px;
    top: 18px;
}
@keyframes cardMove {

    to {
    top: 50px;
    }
    from {
        top: 75px;
    }
}

/*CARDS VANTAGENS*/

.container-advantageCard {
    width: 100%;
    height: auto;
    position: relative;
    margin: 2rem auto 6rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subTitle {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1rem;
    color: #fff; 
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 5.8rem auto 4rem;
    line-height: 2rem;
}

.subTitle h2 {
    margin-right: 0.5rem;
}

.advantageCard {
    position: relative;
    cursor: pointer;
}

.advantageCard > .face {
    width: 18.75rem;
    height: 12.5rem;
    transition: 0.5s;
}

.advantageCard .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.face.face1 .content {
    opacity: 0.2;
    transition: 0.5s;
}

.advantageCard:hover .face.face1 .content{
    opacity: 1; 
}

.advantageCard:hover .face.face1 {
    transform: translateY(0);
    background-color: #573589;
}

.advantageCard .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.advantageCard:hover .face.face2 {
    transform: translateY(0);
}

.content img {
    width: 150px;
}   

.content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.content p {
    margin: 0;
    padding: 0;
}

.content a {
    margin: 15px 0 0;
    display: inline-block;

    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    transition: 0.5s;
}

.content a:hover {
    background: #333;
    color: #fff;
}

/*INFO SECURANÇA*/

.container-security {
    width: 80%;
    height: 50vh;
    margin: 0 auto;  
}

.ri-checkbox-circle-line {
    font-size: 2rem;
    color: #18d441;

}

.info-security {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.security-img{
    height: 100%;
    width: 45%;
}

.security-img img{
    height: auto;
    width: 20rem;
}

.sec-list{
    height: 11rem;
    width: 100%;
    color: whitesmoke;
    word-break: break-word;
    font-family: 'Poppins',sans-serif;
    font-size: 1.1rem;
}

.sec-list ul li {
    margin-bottom: 0.5rem;
}

/*FORMULÁRIO DE CONTATO*/

.form-register {
    width: 70rem;
    height: auto; 
    position: relative;
}

#b-form1{
    height: 20rem;
    width: 20rem;
    position: absolute;
    z-index: -999;
    clip-path: circle();
    background: rgb(96,8,177);
    top: 1rem;
}

#b-form2{
    height: 12rem;
    width: 12rem;
    position: absolute;
    z-index: -999;
    clip-path: circle();
    background: rgb(8, 143, 177);
    right: -7rem;
    top: 2rem;
}

#b-form3{
    height: 10rem;
    width: 10rem;
    position: absolute;
    z-index: -999;
    clip-path: circle();
    background: linear-gradient(45deg,#D31027 , #EA38A3);
    bottom: 12rem;
    left: 35rem;

}

.form-area {
    width: 100%;
    height: 32rem;
    margin: 10rem 4rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: rgba( 194, 190, 216, 0.10 );
    backdrop-filter: blur( 9.0px );

    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-area h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.form-area label {
    color: whitesmoke;
    word-break: break-word;
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
}

.form-area p{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.form-area .input-form{
    width: 50%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}

.form-area input::placeholder{
    font-family: 'Poppins',sans-serif;
    font-size: .9rem;
}

#term-priv{
    display: flex;
    align-items: center;
}

#priv-check{
    margin-right: 0.6rem;
}

#btn-form{
    margin: 1rem 0rem;
}



/*RODAPÉ*/

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 25px 10%;
    background-color: #221e1e;
}

footer p {
    font-size: 1.2rem;
    color: #7159c1;
    font-weight: bolder;
}
